!data/property.csv
data/wikidata_dumps_20250601/*
__pycache__/*
venv/*
scripts/__pycache__/*
*.pyc
*.pyo
*.pyd
.env
.DS_STORE
.venv
scripts/stats/output
logs/*
resultsfile*.csv
reference_ranking_misc/*
temp_figs/*
temp_figs_old/*
reference_ranking_misc/*
metric_computation_scripts/statistics/reference_replacements_and_count_abandon.py
reference_rank_notes.txt
metric_computation_scripts/statistics/reference_replacements_classification_commented.py
vizualize_results/*
test/test_reference_metrics.py
temp.md
reference_replacement_classification_paper_notes.md
reference_replacement_classification_paper.tex
test/test_reference_flow_wilson.py
metric_computation_scripts/statistics/subject_constrain_core/target/*
vizualize_results/*
runtime_memory_figures/figures/*
runtime_memory_figures/*.csv

preference_graphs/*
exports/*

__pycache__/*